# ============================================================
# POLINOV ENVIRONMENT CONFIGURATION
# ============================================================

# Remote PostgreSQL Database Connection URL
DATABASE_URL="postgresql://postgres:Cilego2026.@10.8.140.69:5432/polinov?schema=public&connection_limit=10&pool_timeout=20"

# NextAuth Secret
NEXTAUTH_SECRET="inovasi-2026"

# NextAuth Base URL
# Ganti dengan IP/Domain server Ubuntu Anda (contoh: http://10.8.140.xxx:3000 atau http://domainanda.com)
NEXTAUTH_URL="http://localhost:3000"
